.container{
    text-align: center;
    width: 400px;
    /* border: 1px solid black; */
    margin: 100px auto;
}

.container h1{
    font-size: 42px;
    margin-bottom: 10px;
}

.container form{
    width: 100%;
}

.container form div{
    position: relative;
    margin-top: 15px;
}

.container form div select, .container form div input{
    width: 100%;
    text-align: center;
    padding: 4px 8px;
    font-size: 15px;
    outline: none;
    z-index: -1;
}

.container form div input{
    width: 95%;
    z-index: 0;
}

.container form div label{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s ease;
}

/* .container form div select:focus + label */
.container form div select:focus + label,
.container form div select option:checked + label{
    top: 0px;
    left: 40px;
    background-color: #fff;
    padding: 0 2px;
    font-size: 14px;
}

.container form div input::placeholder{
    color: transparent;
}

.container form div input:focus + label,
.container form div input:not(:placeholder-shown) + label{
    top: 0px;
    left: 80px;
    background-color: #fff;
    padding: 0 2px;
    font-size: 14px;
}

 /* .container form div input:focus::placeholder{
    position: absolute;
    top: -10px;
    left: 50px;
    z-index: 100;
} */

.container form button{
    width: 100%;
    text-align: center;
    padding: 4px 8px;
    font-size: 15px;
    outline: none;
    border: none;
    margin-top: 30px;
    background-color: rgb(43, 53, 199);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}



/* ------------ Loader styling ---------------- */

.loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}