/* body{
  font-family: 'Dancing Script', 'cursive';
font-family: 'Kaushan Script', 'cursive';
font-family: 'Philosopher', sans-serif;
font-family: 'Piazzolla', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
} */

*{
  margin: 0;
  padding: 0;
}